.App {
  width: 100vw;
  height: 1gi00vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  margin: 0;
  padding: 0px;
  top: 0;
  overflow: auto;
}
